.container {
  max-width: 1440px;
}

.btn--primary {
  background-color: #20aa59;
  color: white;
  border-radius: 22px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  padding-inline: 20px;
}

.btn--secondary {
  background-color: #006189;
  color: white;
  border-radius: 22px;
  border: 0;
  padding: 8px;
  font-size: 16px;
  padding-inline: 20px;
}

* {
  font-family: "Inter", sans-serif;
}
